<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
     <title>Bookstore</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
   
</head>
<body>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out" />
       <div>User: <span sec:authentication="name"></span></div>
    </form>
    <h1>Books</h1>
    <table class="table table-striped">
        <tr>
           <th>Title</th>
           <th>Author</th>
           <th>Publicationyear</th>
           <th>Isbn</th>
           <th>Price</th>
           <th>Category</th>
             <th sec:authorize="hasAuthority('ADMIN')"> </th>
        </tr>
        <tr th:each = "book : ${booklist}">
            <td th:text="${book.title}"></td>
            <td th:text="${book.author}"></td>
            <td th:text="${book.publicationYear}"></td>
            <td th:text="${book.Isbn}"></td>
            <td th:text="${book.price}"></td>
            <td th:text="${book.category.name}"></td>

            <td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/deleteBook/{id}(id=${book.id})}" class="btn btn-danger">Delete</a></td>
            <td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/editBook/{id}(id=${book.id})}" class="btn btn-primary">Edit</a></td>

        </tr>
    </table>
     <a th:href="@{/addBook}" class="btn btn-success">Add Book</a> 
</body>
</html>